#app8g {
    height: 420px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#app8g form {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#app8g input[type=textfield] {
    width: 90%;
    height: 25%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

#app8g input[type=button], input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding: 15px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}

#app8g .orange {
    background-color: rgb(253, 149, 3);
    color: white !important;
}

#app8g .gray {
    background-color: rgb(51,51,51);
    color: white !important;
}